@import './variables';

:root {
    font-size: $f-size;
    color: $black;
    
    h1, h2, h3, h4, h5, h6 {
        font-family: poppins, sans-serif;
    }

    p, a {
        font-family: cabin, sans-serif;
    }
}

body {
    font-size: 1rem;
}


h1 {
    font-size:  5.653rem;   
}
    
h2 {
    font-size:  3.998rem;   
}
    
h3 {
    font-size:  3.4rem;   
}
    
h4 {
    font-size:  2.5rem;   
}
    
h5 {
    font-size:  1.41rem;   
}

p {
    font-size: 1.2rem;
}

.santos h2 {
    font-family: $f-secondary;
    font-weight: 500;
    letter-spacing: -0.25rem;
}

span.blue {
    color: $primary;
}