// Colors

// Red
$red:  hsl(357, 72%, 40%);
$dark-red: hsl(357, 72%, 25%);
$light-red: hsl(357, 72%, 55%);

// Greyscale
$white: hsl(0, 0%, 100%);
$light-grey: hsl(0, 0%, 80%);
$grey: hsl(0, 0%, 50%);
$dark-grey: hsl(0, 0%, 30%);
$light-black: hsl(0, 0%, 10%);

//////////////////////////////////////////////////////////////

// Fonts

// Header
$f-header:  Poppins, sans-serif;

// Regular text
$f-text: Cabin, sans-serif;

// Font-size
$f-size: 16px;