// Colors

// Blue
$primary:  hsl(210, 31%, 76%);
$primary-dark: hsl(210, 31%, 50%);
$primary-light: hsl(210, 31%, 85%);
// #af1d3c

// Greyscale
$white: hsl(0, 0%, 100%);
$offwhite: hsl(45, 29%, 97%);
$light-grey: hsl(0, 0%, 80%);
$grey: hsl(0, 0%, 50%);
$dark-grey: hsl(0, 0%, 30%);
$black: hsl(0, 0%, 10%);

//////////////////////////////////////////////////////////////

// Fonts

// Header
$f-header:  Poppins, sans-serif;

// Regular text
$f-text: Cabin, sans-serif;

// Santos logo
$f-secondary: Public Sans, sans-serif;

// Font-size
$f-size: 16px;
