// Colors

// Red
$primary:  hsl(357, 72%, 40%);
$primary-dark: hsl(357, 72%, 25%);
$primary-light: hsl(357, 72%, 55%);

// Greyscale
$white: hsl(0, 0%, 100%);
$offwhite: hsl(45, 29%, 97%);
$light-grey: hsl(0, 0%, 80%);
$grey: hsl(0, 0%, 50%);
$dark-grey: hsl(0, 0%, 30%);
$black: hsl(0, 0%, 10%);

//////////////////////////////////////////////////////////////

// Fonts

// Header
$f-header:  Poppins, sans-serif;

// Regular text
$f-text: Cabin, sans-serif;

// Font-size
$f-size: 16px;
