@import '../01-basics/variables';

/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: $offwhite;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: $primary;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: $primary-dark;
  }